body{
    text-align: center;
}
button{
    width: 130px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}
button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    
}